PRIVATE_KEY = ""
FIRO_PER_BLOCK = 
LOCKING_DURATION = 
VESTING_DURATION = 
VESTING_FIRO_SUPPLY = 
START_REWARD_BLOCK_NUMBER = 
END_REWARD_BLOCK_NUMBER = 
FIROTOKEN_CONTRACT_ADDRESS = ""
LPTOKEN_CONTRACT_ADDRESS = ""
BSC_APIKEY =